.custom-img {
    height: 30px;
    width: 45px;
    border-radius: 50%;
}

.custom-height {
    height: 13rem;
}

.footer-height {
    height: 6rem;
}

@media only screen and (max-width: 576px) {
    .custom-height {
        height: 18rem;
    }

    .footer-height {
        height: 6rem;
    }
}